{% extends 'layout.html' %}
{% block main %}
        <!--=========Flash Message=======-->
        <div class="container mt-5">
            {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
            {% endwith %}
        </div>    
        <!-- ============Upload form============= -->
        <div class="container mb-4">
            <div class="d-flex justify-content-center">
                <h1>Upload Your Full Details</h1 class="">
            </div>
            <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="short_desc">Short Description</label>
        <input type="text" name="short_desc" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="detail_desc">Detail Description</label>
        <textarea name="detail_desc" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="passing_year">Year of Passing</label>
        <input type="text" name="passing_year" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="department">Department</label>
        <input type="text" name="department" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <input type="text" name="course" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="user_image">Upload Image</label>
        <input type="file" name="user_image" class="form-control" accept="image/*" required>
    </div>
    <div class="form-group text-center mb-2">
        <button type="submit" class="btn btn-dark w-50 mb-2">Upload</button>
    </div>
</form>

        </div>
{% endblock main %}        