<!-- =============Footer============  -->
        <footer
          class="navbar border-bottom border-body footer bottom"
          data-bs-theme="dark"
          style="bottom: 0; margin-bottom:0;"
        >
          <div class="container-fluid mb-0 flex align-items-center justify-content-between"
          style="margin-bottom:0;"
          >
            <span class="navbar-brand">Copyright @ Suhel Khan</span>
            <div class=""
            style="margin-bottom:0;"
            >
              <span class="navbar-brand">Connect Me @</span>
            <a class="me-2" href="https://github.com/SuhelKhanCA/" target="_blank"><i class="foot_i fab fa-github"></i></a>
            <a class="me-2" href="https://www.facebook.com/suhelkhanalig" target="_blank"><i class="foot_i fab fa-facebook"></i></a>
            <a class="me-2" href="https://www.instagram.com/suhel_khan_alig/"><i class="foot_i fab fa-instagram" target="_blank"></i></a>
            <a class="me-2" href="https://x.com/suhelkhanalig" target="_blank"><i class="foot_i fab fa-twitter"></i></a>
            <a class="me-2" href="https://www.linkedin.com/in/suhelkhanska/" target="_blank"><i class="foot_i fab fa-linkedin"></i></a>
            </div>
            <span class="navbar-brand">AMU eConnect</span>
          </div>
        </footer>
    <!-- =============JS============ -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
