{% extends 'layout.html' %}
{% block title %}
  <title> Profile </title>     
{% endblock title %}
{% block main %}
    <!-- ============Profile============= -->
    <div class="container text-center mb-4">
      <div class="row">
        <div class="col float-start text-center">
          <h1>{{ user.name }}'s Profile</h1>
          <img src="data:image/jpeg;base64,{{ image }}" class="card-img img-fluid d-block h-75" alt="{{ user.name }}" />
          <p class="">
            {{ user_desc.short_desc }}
          </p>
        </div>
        <div class="col float-end">
          <h3>About Me</h3>
          <p>Department: {{ user_desc.department }}</p>
          <p>Course: {{ user_desc.course }}</p>
          <p>Passing Year: {{ user_desc.passing_year }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Enrollment Number: {{ user.enrollment_no }}</p>
          <p>Faculty Number: {{ user.faculty_no }}</p>
          <p>Detailed Description: {{ user_desc.detail_desc }}</p>
          <div class="">
            <h3>Social Links</h3>
            <a class="me-2" href="{{ user_desc.social1 }}"><i class="fab fa-facebook"></i></a>
            <a class="me-2" href="{{ user_desc.social2 }}"><i class="fab fa-instagram"></i></a>
            <a class="me-2" href="{{ user_desc.social3 }}"><i class="fab fa-twitter"></i></a>
            <a class="me-2" href="{{ user_desc.social4 }}"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
{% endblock main %}