{% extends 'layout.html' %}
{% block title %}
  <title> Profile </title>     
{% endblock title %}
{% block main %}
    <!-- ============Profile============= -->
    <div class="container text-center mb-4">
      <div class="row">
        <!-- Profile Image and Short Description -->
        <div class="col-md-6 text-center mb-3">
          <h1>{{ user.name }}'s Profile</h1>
          <img src="data:image/jpeg;base64,{{ image }}" class="card-img img-fluid rounded d-block mx-auto" alt="{{ user.name }}" />
          <p class="mt-3">
            {{ user_desc.short_desc }}
          </p>
        </div>
        <!-- About Me and Social Links -->
        <div class="col-md-6">
          <h3>About Me</h3>
          <p>Department: {{ user_desc.department }}</p>
          <p>Course: {{ user_desc.course }}</p>
          <p>Passing Year: {{ user_desc.passing_year }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Enrollment Number: {{ user.enrollment_no }}</p>
          <p>Faculty Number: {{ user.faculty_no }}</p>
          <p>Detailed Description: {{ user_desc.detail_desc }}</p>
          <div class="mt-4">
            <h3>Social Links</h3>
            <a class="me-2" href="{{ user_desc.social1 }}" target="_blank"><i class="fab fa-facebook"></i></a>
            <a class="me-2" href="{{ user_desc.social2 }}" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="me-2" href="{{ user_desc.social3 }}" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="me-2" href="{{ user_desc.social4 }}" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
{% endblock main %}
